@font-face {
    font-family: "Lucky";
    src: url("assets/font/Luckiest_Guy/LuckiestGuy-Regular.ttf");
}

body {
    margin: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url("assets/images/deepSee/vecteezy_ocean-background_273915.png");
    background-size: cover;     
    background-position: center;
}

h1 {
    font-family: "Lucky", sans-serif;
    color: red; 
    margin-top: 70px;
    font-size: 40px;
    visibility: hidden;
}

.canvas-container {
    width: 100%;             
    max-width:800px;        
    aspect-ratio: 1200 / 600; 
}

canvas {
    width: 100%;    
    height: auto;   
    display: block;
    border-radius: 30px;
    touch-action: manipulation;
}

.controls {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap:25px;
}

.control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.control img {
    height: 40px;
    width: 80px;
}

.control span {
    font-family: "Lucky", sans-serif;
    color: white;
}

#rotateOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    color: #fff;
    font-family: "Lucky", sans-serif;
    font-size: 28px;
    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: center;        
    word-wrap: break-word;           
    z-index: 9999;
    line-height: 1.5;          
}

/* Sakrij overlay na desktopu */
@media (min-width: 801px) {
    #rotateOverlay {
        display: none !important;
    }
}
